body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #095228;
    box-shadow: inset rgba(0, 0, 0, .5) 0 0 350px;
    color:rgb(255, 255, 255);
}
.topnav {
  overflow: hidden;
  background-color: #2c2c2c;
}
.topnav div {
  display: flex;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav #wifi {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
.container {
  min-height:100%;
  text-align: center;
}

#container-begining {
  padding-top: 15%;
  padding-bottom: 15%;
}
h1 {
  text-shadow: 2px 0 0 #095228, -2px 0 0 #095228, 0 2px 0 #095228, 0 -2px 0 #095228, 1px 1px #095228, -1px -1px 0 #095228, 1px -1px 0 #095228, -1px 1px 0 #095228;
  color: white;
}
.hidden {
  display: none!important;
}
.watchable {
  display: block;
}
button {
  border: 2px solid rgba(9, 128, 99);
  padding: 10px 18px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: rgb(4, 79, 63);
  border-radius: 10px;
  cursor: pointer;
}

button.button {
  border-radius: 1rem;
  margin-top: 5px;
  margin-bottom: 1rem;
  font-family: 'Avenir Next';
  font-size: 1rem;
  height: 3rem;
  color: white;
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to top, rgb(128, 98, 36) 15%, rgb(169, 102, 11) 25%, rgb(255, 224, 132) 50%, rgb(215, 192, 88) 95%, rgb(231, 209, 168) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-decoration:none;
  background-color: #2c2c2c;
  box-shadow:inset 0px 31px 0px 19px #2c2c2c;
}
.buton-newStop{
  margin-right: 15px;
}
.regles {
  text-align: left;
  width:70%;
  margin-left: 15px;
}
.link:hover {
  text-decoration: underline;
}
button.button:hover {
  box-shadow: inset 2px 1000px 1px #fafafa;
  color: black;
}

button:active {
  top: 3px;
  box-shadow: none;
}

button:hover {
  background-color: #095228;
  color: #04AA6D;
}

button.button:disabled {
  color: white;
  border: solid 4px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to top, rgb(128, 98, 36) 15%, rgb(169, 102, 11) 25%, rgb(255, 224, 132) 50%, rgb(215, 192, 88) 95%, rgb(231, 209, 168) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-decoration:none;
  box-shadow:inset 0px 31px 0px 19px #707070;
}

#newGameButton {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(98, 147, 112,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  border: none;
  background: #629379;
  background: linear-gradient(0deg, #35654d 0%, #629379 100%);
}

#newGameButton:hover {
    text-decoration: none;
    color: #fff;
}
#newGameButton:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -120px;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 2.5s ease-in-out infinite;
}
#newGameButton:hover{
  opacity: .7;
}
#newGameButton:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

#poker {
    height: 50px;
}
#bank {
  width: 100%;
}

.section.open {
  margin: 20px 0;
}
.card{
  border-radius: 4px;
  position: absolute;
  display: inline-block;
  width: 226px;
  height: 314px;
  right: 10px;
  margin-top: 40px;
  perspective: 1000px;
  background-color: transparent;
}
@keyframes winAnimation {
  0%   { top:0px;}
  15%   { top:200px;}
  30%  { top:0px;}
  45%  { top:-200px;}
  60%  {top:0px;}
  75%  { top:200px;}
  100% {top:0px;}
}
@keyframes winAnimation2 {
  0%   { top:0px;}
  15%   { top:-200px;}
  30%  { top:0px;}
  45%  { top:200px;}
  60%  {top:0px;}
  75%  { top:-200px;}
  100% {top:0px;}
}
.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.margin {
  margin: 20px 0;
}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}

.modal p{
  font-size: 2em;
}

.modal-content {
  max-height: 30%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(236, 236, 236, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

#modal1 .modal-dialog {
  position: relative;
  width: 100%;
  max-height: auto;
  border-radius: 5px;
  overflow: visible;
  cursor: default;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
}

#modal2 .modal-dialog {
  position: top;
  width: 100%;
  max-height: 30%;
  border-radius: 5px;
  overflow: auto;
  cursor: default;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #da2d2d 0,
    #3e0000 22%, 
    #000c14 35%,
    #000c14 50%,
    #000c14 65%,
    #3e0000 78%,
    #da2d2d 100%
    );
    color :rgb(255, 255, 255);
}

.modal-dialog > * {
  padding: 0;
}

#cardArea {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: solid 4px #cb9b51;
  min-height: 380px;
}